- content_for :use_full_container, true

.page-header
  - if user_signed_in?
    .pull-right
      - if can?(:subscribe, @collection)
        = render partial: 'shared/buttons/subscribe', locals: { subscribable: @collection }
      - if can?(:update, @collection)
        = link_to edit_account_collection_path(@collection), class: 'btn btn-default btn-lg' do
          %span.glyphicon.glyphicon-pencil
          Edit collection
  %h2
    = title [@collection.user.username, @collection.name], @collection.name
    - if @collection.private?
      %small
        %span.label.label-danger Private
  %ul.list-inline
    %li
      = link_to_user @collection.user do
        = image_tag user_avatar_url(@collection.user, 20), alt: @collection.user.username, width: 20, height: 20
        = @collection.user.username
    %li
      %span.glyphicon.glyphicon-eye-open
      = @collection.impressions_count
    %li
      %span.glyphicon.glyphicon-picture
      = @collection.wallpapers_count_for(current_purities)

= render 'wallpapers/list', wallpapers: @wallpapers
