.page-header
  %h1 Edit settings
  %span.help-block Settings that reflect throughout the entire site.

  = simple_form_for @settings, url: account_settings_path, method: :patch do |f|
    .row
      .col-md-6
        %fieldset
          %legend Browsing settings

          .form-group
            %label Purity
            .row
              .col-xs-4.purity-sfw
                = f.input :sfw
              .col-xs-4.purity-sketchy
                = f.input :sketchy
              .col-xs-4.purity-nsfw
                = f.input :nsfw

          = f.input :per_page

          = f.input :infinite_scroll

        %fieldset
          %legend Privacy settings

          = f.input :invisible, hint: 'Hide my online status.'

      .col-md-6
        %fieldset
          %legend Search settings

          = f.association :screen_resolution, include_blank: 'All'

          = f.input :aspect_ratios, as: :check_boxes, hint: 'Select none for all'

    .form-actions
      = f.button :submit, 'Update settings', class: 'btn btn-primary btn-lg'
