%li{:data => {:comment_id => comment.id}}
  .panel.panel-default
    .panel-body
      %ul.list-inline.pull-right
        - if can? :destroy, comment
          %li= link_to fa_icon_tag('trash-o'), comment, class: 'destroy-comment', title: 'Delete', data: { method: :delete, confirm: 'Are you sure?' }
        %li
          = link_to fa_icon_tag('exclamation-triangle'), new_comment_report_path(comment), title: 'Report'
      %h4
        = link_to_user comment.user do
          = image_tag user_avatar_url(comment.user, 30), alt: comment.user.username, width: 30, height: 30
          = comment.user.username
        = flag_tag_for comment.user
        = user_online_status_tag comment.user
        %small= time_ago_tag comment.created_at
      %br/
      %div{:data => {:provide => 'wgtext'}}= comment.cooked_comment.html_safe
