%li{:data => {:comment_id => comment.id}}
  .panel.panel-default
    .panel-body
      %small.pull-right
        %ul.list-inline.text-muted
          - if can? :destroy, comment
            %li
              = link_to comment, class: 'destroy-comment', data: { method: :delete, confirm: 'Are you sure?' } do
                %span.glyphicon.glyphicon-trash
          %li= link_to 'Report', new_comment_report_path(comment)
      %h5.no-top-margin
        = link_to_user comment.user do
          = image_tag user_avatar_url(comment.user, 20)
          = comment.user.username
        = user_online_status_tag comment.user
        %small #{time_ago_in_words comment.created_at} ago
      %p= comment.cooked_comment.html_safe
