= content_tag_for :div, comment, class: 'panel-body' do
  .row
    .col-sm-2
      = link_to comment.user do
        = image_tag user_avatar_url(comment.user, 50), alt: comment.user.username, width: 50, height: 50
      %h4
        = link_to_user comment.user
        = user_online_status_tag comment.user
      %p= role_name_for(comment.user)
    .col-sm-10
      %small.pull-right
        %ul.list-inline.text-muted
          %li #{time_tag comment.created_at, time_ago_in_words(comment.created_at), title: comment.created_at} ago
          - if comment.created_at != comment.updated_at
            %li updated #{time_tag comment.updated_at, time_ago_in_words(comment.updated_at), title: comment.updated_at} ago
          - if can? :update, comment
            %li= link_to 'Edit', edit_comment_path(comment), class: 'text-muted'
          %li= link_to 'Report', new_comment_report_path(comment), class: 'text-muted'
          %li= link_to "##{comment.id}", url_for(anchor: "comment_#{comment.id}"), class: 'text-muted'
      .clearfix
      %div{:data => {:provide => 'wgtext'}}= comment.cooked_comment.html_safe
