.page-header
  %h2= title 'Recent comments'

- if @comments.any?
  - @comments.each do |comment|
    - next unless can?(:read, comment.commentable)
    - if comment.commentable_type == 'Wallpaper'
      - next unless comment.commentable.thumbnail_image.present? && current_purities.include?(comment.commentable.purity)
      - comment.commentable = comment.commentable.decorate

    %h4
      - case comment.commentable_type
      - when 'User'
        = link_to_user comment.commentable do
          = image_tag user_avatar_url(comment.commentable, 30), alt: comment.commentable.username
          = comment.commentable.username
        %small User
      - when 'Wallpaper'
        = link_to comment.commentable, comment.commentable
        %small Wallpaper
      - when 'Topic'
        = link_to comment.commentable.title, comment.commentable
        %small Forum Topic

    .row
      .col-lg-10
        %ul.list-unstyled.list-comment= render comment
      .col-lg-2
        .media
          - case comment.commentable_type
          - when 'User'
            = link_to comment.commentable, class: 'pull-left' do
              = image_tag user_avatar_url(comment.commentable, 50), alt: comment.commentable.username, class: 'media-object'
            .media-body
              %h4.media-heading= link_to_user comment.commentable
          - when 'Wallpaper'
            = link_to comment.commentable, title: comment.commentable.cached_tag_list, target: '_blank' do
              = image_tag comment.commentable.thumbnail_image_url, width: 250, height: 188, class: 'img-wallpaper img-responsive'

    %hr.invisible

  = paginate @comments
- else
  %p No comments yet.
