= simple_form_for(@wallpaper) do |f|
  - unless @wallpaper.persisted? || current_user.staff? || current_user.trusted?
    .alert.alert-warning
      %h4 Important
      %p
        Please read our
        %a{:href => 'https://github.com/wallgig/wallgig/wiki/Purity-Guide', :target => '_blank'} purity guidelines here
        before submitting!
      %p.text-danger Your wallpaper will be submitted for moderator approval.

  %hr/

  .form-inputs
    = f.input :purity

    = f.input :image, as: :file unless @wallpaper.persisted?

    .form-group
      = label_tag 'Tags'
      = text_field_tag :tag, nil, data: { provide: 'tag-search' }, class: 'typeahead form-control', autocomplete: 'off'
    .form-group
      %ul.list-tag.list-group{:data => {:provide => 'tag-list'}}
        - @wallpaper.wallpapers_tags.each do |wallpapers_tag|
          .list-group-item{:data => {:tag_id => wallpapers_tag.tag_id}}
            %a{:class => 'pull-right', :data => {:action => 'remove'}} 
              %span.glyphicon.glyphicon-remove
            %span{:class => "purity-#{wallpapers_tag.purity}"}
              %span.glyphicon.glyphicon-tag
              = wallpapers_tag.name
            %br/
            .text-muted= wallpapers_tag.tag.category_name
            = hidden_field_tag 'wallpaper[tag_ids][]', wallpapers_tag.tag_id, id: nil
  
    = f.input :source, hint: 'Enter URL or Artist'

    = f.input :image_gravity, label: 'Crop position'

  .form-actions
    = f.button :submit, class: 'btn btn-primary'
