- if wallpapers.has_pagination? && request.xhr?
  - if respond_to?(:search_options)
    - current_page_params = search_options.merge(page: wallpapers.current_page).reject { |_,v| v.blank? }
  - else
    - current_page_params = { page: wallpapers.current_page }

%noscript
  - if wallpapers.any?
    %ul
      - wallpapers.each do |wallpaper|
        %li= link_to "Wallpaper ##{wallpaper.id} #{wallpaper.tag_list_text}", wallpaper
    = wallpapers.link_to_next_page

%div{:ng => {:controller => 'WallpaperListController', :init => "wallpapers = #{ActiveModel::ArraySerializer.new(wallpapers, each_serializer: WallpaperListSerializer).to_json}; page = #{wallpapers.current_page}"}}

  .horizontal-page-har{:ng => {:hide => 'page === 1'}}
    %h3
      .pull-left= link_to wallpapers.current_page, url_for(current_page_params)
      .pull-right
        %a{:href => '#'}
          %span.fa.fa-chevron-up

  %ul.list-wallpaper{:ng => {:show => 'wallpapers.length > 0'}}

    %li{:ng => {:repeat => 'wallpaper in wallpapers'}, :class => 'purity-{{wallpaper.purity}}'}

      %a{:ng => {:href => '/wallpapers/{{wallpaper.id}}'}, :title => '{{wallpaper.tag_list.join(",")}}'}
        %div{:wg => {:wallpaper_thumbnail => true}}

      .overlay.overlay-bottom
        %strong {{wallpaper.image_width}}&times;{{wallpaper.image_height}}

        %a.btn.btn-sm.btn-favourite.pull-left{:href => true, :ng => {:click => 'toggleFavourite(wallpaper.id)', :class => '{favourited: wallpaper.favourited}'}}
          %span.fa.fa-star
          %span.count {{wallpaper.favourites_count}}

        .btn.btn-sm.pull-right
          %span.fa.fa-eye
          {{wallpaper.impressions_count}}

  %h2.text-center{:ng => {:show => 'wallpapers.length === 0'}}
    No search results found :(

/ - if wallpapers.any?
/   %ul.list-wallpaper{:class => local_assigns[:extra_css_class]}
/     - wallpapers.each do |wallpaper|
/       %li{:class => "purity-#{wallpaper.purity}", :data => {:wallpaper_id => wallpaper.id}}
/         = link_to wallpaper.path_with_resolution, title: wallpaper.tag_list_text, target: '_blank' do
/           = image_tag nil, width: 250, height: 188, class: 'img-wallpaper lazy', data: { src: wallpaper.thumbnail_image_url }

/         .overlay.overlay-bottom
/           %strong= wallpaper.resolution

/           = wallpaper.favourite_button_for_list

/           .btn.btn-sm.pull-right
/             = fa_icon_tag('eye')
/             = wallpaper.impressions_count

/   = wallpapers.link_to_next_page

/ - else
/   %br/
/   %br/
/   %h2.text-center No search results found :(
