- if wallpapers.has_pagination? && request.xhr?
  - if respond_to?(:search_options)
    - current_page_params = search_options.merge(page: wallpapers.current_page).reject { |_,v| v.blank? }
  - else
    - current_page_params = { page: wallpapers.current_page }

  .horizontal-page-bar
    %h3
      .pull-left= link_to wallpapers.current_page, url_for(current_page_params)
      .pull-right
        %a{:href => '#'}
          = fa_icon_tag('chevron-up')

%div{:v => {:component => 'wallpaper-list', :cloak => true}}
  %div{:v => {:show => 'isLoading'}}
    .loading-spinner

  %div{:v => {:show => '!isLoading'}}
    %ul.list-wallpaper{:v => {:show => 'wallpapers.length'}}
      %li{:v => {:repeat => 'wallpapers'}, :class => 'purity-{{purity}}'}
        %a{:href => '{{url}}'}
          %img.img-wallpaper{:v => {:attr => 'src: image.thumbnail.url, width: image.thumbnail.width, height: image.thumbnail.height'},
            :alt => 'Wallpaper #{{id}}'}
        .overlay.overlay-bottom
          %strong {{image.original.width}}&times;{{image.original.height}}
          %a.btn.btn-sm.btn-fav.pull-left{:href => '#', :v => {:class => 'faved: favourited, disabled: isToggling',
                                                               :on => 'click: toggleFavourite(this, $event)'}}
            %span.fa.fa-star
            %span.count {{favourites_count}}
          .btn.btn-sm.pull-right
            %span.fa.fa-eye
            {{views_count}}

    %div{:v => {:show => 'wallpapers.length === 0'}}
      %br/
      %br/
      %h2.text-center No search results found :(


- if wallpapers.any?
  %ul.list-wallpaper{:class => local_assigns[:extra_css_class]}
    - wallpapers.each do |wallpaper|
      %li{:class => "purity-#{wallpaper.purity}", :data => {:wallpaper_id => wallpaper.id}}

        = wallpaper.thumbnail_link lazy: true, new_window: current_settings.new_window?

        .overlay.overlay-bottom
          %strong= wallpaper.requested_image_resolution

          = wallpaper.favourite_button_for_list

          .btn.btn-sm.pull-right
            = fa_icon_tag('eye')
            = wallpaper.impressions_count

  = wallpapers.link_to_next_page

- else
  %br/
  %br/
  %h2.text-center No search results found :(
