= simple_form_for([@owner, @topic]) do |f|
  .form-inputs
    = f.association :forum, collection: @postable_forums, include_blank: false
    = f.input :title
    = f.input :content, input_html: { data: { provide: 'markdown' } }

  .form-actions
    = f.button :submit, class: 'btn btn-primary'
