= content_tag_for :li, topic, class: 'list-group-item' do
  .media
    = link_to topic.user, class: 'pull-left' do
      = image_tag gravatar_url(topic.user, 50), width: 50, height: 50, class: 'media-object'
    .pull-right
      = link_to topic.forum.name, topic.forum, class: 'btn btn-xs', style: css_styles_for_forum(topic.forum)
    .media-body
      %h4.media-heading
        = icons_for_topic(topic)
        = link_to topic.title, topic
      %ul.list-inline
        %li= pluralize topic.comments.size, 'comment'
        %li
          started by
          = link_to_user topic.user
          / @TODO last comment by
        %li
          = time_tag topic.updated_at, title: topic.updated_at do
            #{time_ago_in_words topic.updated_at} ago
