- title [@topic.forum.name, @topic.title]

.page-header
  .pull-right
    = link_to @topic.forum.name, @topic.forum, class: 'btn', style: css_styles_for_forum(@topic.forum)
    - if can? :moderate, @topic
      .btn-group
        %button{:type => 'button', :class => 'btn btn-default dropdown-toggle', :data => {:toggle => 'dropdown'}}
          = fa_icon_tag('wrench')
        %ul.dropdown-menu.pull-right{:role => 'menu'}
          %li
            - if @topic.pinned?
              = link_to unpin_topic_path(@topic), method: :patch do
                = fa_icon_tag('thumb-tack')
                Unpin topic
            - else
              = link_to pin_topic_path(@topic), method: :patch do
                = fa_icon_tag('thumb-tack')
                Pin topic
          %li
            - if @topic.locked?
              = link_to unlock_topic_path(@topic), method: :patch do
                = fa_icon_tag('unlock')
                Unlock topic
            - else
              = link_to lock_topic_path(@topic), method: :patch do
                = fa_icon_tag('lock')
                Lock topic
          %li
            - if @topic.hidden?
              = link_to unhide_topic_path(@topic), method: :patch do
                = fa_icon_tag('eye')
                Unhide topic
            - else
              = link_to hide_topic_path(@topic), method: :patch do
                = fa_icon_tag('eye-slash')
                Hide topic
          - if can? :update, @topic
            %li
              = link_to edit_topic_path(@topic) do
                = fa_icon_tag('pencil')
                Edit topic
          %li
            = link_to @topic, data: { method: :delete, confirm: 'Are you sure?' } do
              = fa_icon_tag('trash-o')
              Delete topic
    - if can? :comment, @topic
      = link_to new_topic_comment_path(@topic), class: 'btn btn-primary' do
        = fa_icon_tag('reply')
        New reply
  %h2
    = icons_for_topic(@topic)
    = @topic.title
.panel.panel-default.panel-forum-topic
  .panel-body
    .row
      .col-sm-2
        = link_to @topic.user do
          = image_tag user_avatar_url(@topic.user, 50), alt: @topic.user.username, width: 50, height: 50
        %h4
          = link_to_user @topic.user
          = flag_tag_for @topic.user
          = user_online_status_tag @topic.user
        %p= role_name_for @topic.user
      .col-sm-10
        %small.pull-right
          %ul.list-inline.text-muted
            %li= time_ago_tag @topic.created_at
            - if @topic.created_at != @topic.updated_at
              %li
                updated
                = time_ago_tag @topic.updated_at
            - if can? :update, @topic
              %li= link_to 'Edit', edit_topic_path(@topic), class: 'text-muted'
            %li= link_to fa_icon_tag('exclamation-triangle'), new_topic_report_path(@topic), class: 'text-muted', title: 'Report'
        .clearfix
        = @topic.cooked_content.html_safe

- if current_settings.display_ads?
  = render partial: 'shared/chitika', locals: { type: :wide }

.text-center= paginate @comments

.panel.panel-default
  = render partial: 'comments/topic_comment', collection: @comments, as: :comment

.text-center= paginate @comments

- if current_settings.display_ads?
  = render partial: 'shared/chitika', locals: { type: :wide }

- if can? :comment, @topic
  = simple_form_for :comment, url: topic_comments_path(@topic), data: { provide: 'comments' } do |f|
    = f.input :comment, as: :text, label: false, input_html: { data: { provide: 'markdown' } }
    = f.submit 'Post comment', class: 'btn btn-primary', data: { disable_with: 'Posting' }
