.page-header
  %h2= title t('notifications.title')

- if @notifications.any?
  .page-subheader
    = link_to mark_as_read_notifications_path, method: :post, class: 'btn btn-info' do
      = fa_icon_tag('check')
      = t 'notifications.actions.mark_all_as_read'

    = link_to purge_notifications_path, method: :delete, confirm: 'Are you sure?', class: 'btn btn-danger' do
      = fa_icon_tag('trash')
      = t 'notifications.actions.purge'

  %ul.list-group.list-group-notifications{:data => {:provide => 'notifications'}}= render @notifications

  = paginate @notifications

- else
  .alert.alert-info= t 'notifications.empty'
