= form_tag perform_wallpaper_merge_admin_wallpaper_path(@wallpaper) do
  %fieldset.inputs
    %ol
      %li.string.input
        = label_tag 'target_id', 'Merge to Wallpaper ID (THAT)'
        = text_field_tag 'target_id'
        %p.inline-hints
          Moves associations (i.e. comments, tags, etc.)
          from <strong>THIS</strong> (#{@wallpaper})
          to <strong>THAT</strong>.
          %br/
          <strong>Destroys THIS</strong>.
  %fieldset.actions
    %ol
      %li.action= submit_tag 'Merge'
