.row
  .col-lg-offset-3.col-lg-6
    .page-header
      = link_to 'New', new_account_collection_path, class: 'btn btn-default btn-lg pull-right'
      %h1= title 'My collections'

    %table.table
      %thead
        %tr
          %th
          %th Name
          %th.text-center Public
          %th
      %tbody
        - @collections.each do |collection|
          %tr{:class => (unless collection.public? then 'danger' end)}
            %td
              .btn-group
                - if collection.first?
                  .btn.btn-default.btn-xs.disabled= fa_icon_tag('arrow-up')
                - else
                  = link_to fa_icon_tag('arrow-up'), move_up_account_collection_path(collection), method: :patch, class: 'btn btn-primary btn-xs'

                - if collection.last?
                  .btn.btn-default.btn-xs.disabled= fa_icon_tag('arrow-down')
                - else
                  = link_to fa_icon_tag('arrow-down'), move_down_account_collection_path(collection), method: :patch, class: 'btn btn-primary btn-xs'
            %td= collection.name
            %td.text-center
              - unless collection.public?
                = fa_icon_tag('eye-slash')
            %td.text-right
              = link_to 'Show', collection_path(collection), class: 'btn btn-link btn-xs'
              = link_to edit_account_collection_path(collection), class: 'btn btn-info btn-xs' do
                = fa_icon_tag('pencil')
              = link_to account_collection_path(collection), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' do
                = fa_icon_tag('times')
