- content_for :use_full_container, true

.page-header
  - if user_signed_in?
    .pull-right= render partial: 'shared/buttons/subscribe', locals: { subscribable: @tag }
  %h2{:class => "purity-#{@tag.purity}"}
    = fa_icon_tag('tag')
    = title @tag.name

%ol.breadcrumb
  %li
    = link_to categories_path do
      = fa_icon_tag('tags')
      Tags
  - if @tag.category.present?
    - [@tag.category.ancestors, @tag.category].flatten.each do |category|
      %li
        = link_to category do
          = fa_icon_tag('folder-open-o')
          = category.name
  %li.active
    = fa_icon_tag('tag')
    = @tag.name

= render partial: 'wallpapers/list', locals: { wallpapers: @wallpapers }
- if @wallpapers.any?
  = link_to 'More wallpapers', wallpapers_path(tags: [@tag.name]), class: 'btn btn-lg btn-default btn-block'
