= simple_form_for(@subscription) do |f|
  = f.error_notification

  .form-inputs
    = f.association :user
    = f.association :subscribable
    = f.input :last_visited_at

  .form-actions
    = f.button :submit
