%h1 Listing subscriptions

%table
  %tr
    %th User
    %th Subscribable
    %th Last visited at
    %th
    %th
    %th

  - @subscriptions.each do |subscription|
    %tr
      %td= subscription.user
      %td= subscription.subscribable
      %td= subscription.last_visited_at
      %td= link_to 'Show', subscription
      %td= link_to 'Edit', edit_subscription_path(subscription)
      %td= link_to 'Destroy', subscription, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Subscription', new_subscription_path
