- content_for(:use_full_container, true)

.page-header
  %h2= title 'Subscriptions'

.row
  .col-md-3
    %ul.nav.nav-pills.nav-justified
      = active_link_to subscriptions_path, wrap_tag: :li do
        Uploads
      = active_link_to collections_subscriptions_path, wrap_tag: :li do
        Collections
      = active_link_to tags_subscriptions_path, wrap_tag: :li do
        Tags 
    .list-group
      - @subscriptions.each do |subscription|
        = active_link_to subscription, class: 'list-group-item' do
          = subscription.subscribable
  .col-md-9
    = render partial: 'wallpapers/list', locals: { wallpapers: @wallpapers }
