.page-header
  %h2
    - if @category.present?
      = @category.name
    - else
      Categories
  - if @category.present?
    %ol.breadcrumb
      %li= link_to 'Categories', categories_path
      - @ancestors.each do |ancestor|
        %li= link_to ancestor.name, ancestor
      %li.active= @category.name

.row
  .col-md-4
    .page-subheader
      %h4 Children
    .list-group
      - if @category.present?
        - if @category.parent.present?
          = link_to @category.parent, class: 'list-group-item' do
            %span.glyphicon.glyphicon-chevron-up
            = @category.parent.name
        - else
          = link_to categories_path, class: 'list-group-item' do
            %span.glyphicon.glyphicon-chevron-up
            Root
      - @categories.each do |category|
        = link_to category, class: 'list-group-item' do
          %span.badge= category.tags_count_for(current_purities)
          %span.glyphicon.glyphicon-folder-close
          = category.name

  .col-md-8
    .page-subheader
      %h4 Tags
    %table.table.table-responsive.table-hover
      %thead
        %tr
          %th Tag name
          %th.text-center Category
          %th.text-center Wallpapers count
      %tbody
        - @tags.each do |tag|
          %tr{:class => "purity-#{tag.purity}"}
            %td
              = link_to tag, class: "purity-#{tag.purity}" do
                %span.glyphicon.glyphicon-tag
                = tag.name
            %td.text-center
              - if tag.category.present?
                - if tag.category == @category
                  = tag.category_name
                - else
                  = link_to tag.category_name, tag.category
            %td.text-center= tag.wallpapers_count_for(current_purities)

    .text-center= paginate @tags
