.row
  .col-md-6.col-md-offset-3
    .page-header
      %h1= title 'New report'

    .well.text-center
      .page-subheader
        %h4= @reportable
      - case @reportable.class.name
      - when 'Comment'
        %ul.list-unstyled.list-comment.text-left= render @reportable

      - when 'Wallpaper'
        - @reportable = @reportable.decorate
        = @reportable.thumbnail_image_tag

    = render 'form'
