.row
  .col-md-6.col-md-offset-3
    %h1= title 'New report'
    %h3= @reportable

    - case @reportable.class.name
    - when 'Comment'
      %ul.list-unstyled.list-comment= render @reportable

    %p Could you tell to us what is wrong with this #{@reportable.class.name.underscore.humanize.downcase}?

    = render 'form'
