- content_for :content do
  .row
    .col-md-2
      .page-subheader
        %h3= link_to 'Forums', forums_path
      %p
        = form_tag forums_path, method: :get, role: 'search' do
          .input-group
            = text_field_tag :q, params[:q], class: 'form-control', placeholder: 'Search'
            .input-group-btn
              %button.btn.btn-default{:type => 'submit'}
                %span.glyphicon.glyphicon-search
      .list-group
        = link_to 'All topics', forums_path, class: "list-group-item #{'active' if @forum.blank? && @topic.try(:forum).blank?}"
        - @forum_list.each do |forum|
          = link_to forum.name, forum, class: 'list-group-item', style: css_styles_for_forum(forum, (@forum || @topic.try(:forum)) != forum)

      - if current_settings.display_ads?
        = render partial: 'shared/chitika', locals: { type: :square }
    .col-md-10
      = yield

= render template: 'layouts/application'
