- content_for :content do
  .row
    .col-lg-2
      .page-subheader
        %h3 Forums
      .list-group
        = link_to 'All topics', forums_path, class: "list-group-item #{'active' if @forum.blank? && @topic.try(:forum).blank?}"
        - Forum.list(current_ability).each do |forum|
          = link_to forum.name, forum, class: 'list-group-item', style: css_styles_for_forum(forum, (@forum || @topic.try(:forum)) != forum)
    .col-lg-10
      = yield

= render template: 'layouts/application'
