- hide_navbar = user_signed_in?
- content_for(:hide_navbar, hide_navbar) 

- content_for :main_container do
  .wallpaper-show-container.has-sidebar{:class => hide_navbar ? '' : 'has-navbar'}
    .wallpaper-stage
      = yield :wallpaper_stage_content
      %a.toggle-sidebar-btn
        %span.glyphicon.glyphicon-resize-full
        %span.glyphicon.glyphicon-resize-small
    .wallpaper-sidebar
      = link_to wallpapers_path, class: 'close-btn' do
        = fa_icon_tag('times')
      = yield :wallpaper_sidebar_content

= render template: 'layouts/application'
